/*========== global style ==========*/

@font-face{
  	font-family: 'opensans-bold';
  	src: url('../fonts/opensans-bold.woff') format('woff'), /* Pretty Modern Browsers */
    	url('../fonts/opensans-bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face{
	font-family: 'opensans-light-italic';
  	src: url('../fonts/opensans-light-italic.woff') format('woff'), /* Pretty Modern Browsers */
       	url('../fonts/opensans-light-italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face{
	font-family: 'opensans-light';
    src: url('../fonts/opensans-light.woff') format('woff'), /* Pretty Modern Browsers */
       	url('../fonts/opensans-light.ttf') format('truetype'); /* Safari, Android, iOS */       
}

*, *::after, *::before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;	
}

img{
	max-width: 100%;
	height: auto;
}

body{
	font: normal 18px 'opensans-light';
	color: #221f1f;	
}

.wrapper{
	max-width: 1056px;
	margin: 0 auto;
}

/*========== header style ==========*/

.header{	
	background-color: #131415;
	padding: 16px 0;
	margin-bottom: 48px;
}

.header .wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.header__contact_telephone a{
	font: bold 20px 'opensans-bold';
	color: #fff;
}

.header__contact{
	position: relative;
}

.header__worktime_text{
	font: bold 14px 'opensans-bold';
	color: #f89513;
	text-decoration: underline;
	text-align: right;
}

.header__worktime_text:hover{
	color: #efdccd;
	cursor: pointer;
}

.header__worktime_schedule{
	padding: 18px 20px;
	background-color: #f6f6f6;	
	border-radius: 4px;
	position: absolute;
	top: 78px;
	left: -9999px;
}

.header__worktime_schedule::before{
	content: "";
	display: block;
	left: 0;
	right: 0;
	height: 80px;
	top: -80px;
	position: absolute;
}

.header__schedule_dropdown{
	position: absolute;
	width: 32px;
	height: 32px;
	background-color: #fff;
	transform: rotate(45deg);
	top: -16px;
	right: 0;
}

.header__contact:hover .header__worktime_schedule{
	left: 0;
}

.header__schedule_week{
	font: bold 14px 'opensans-bold';
	color: #f89513;
	margin-bottom: 8px;
}

.header__schedule_lanch{
	font-size: 14px;
}

/*========== nav style ==========*/

.nav{
	margin-bottom: 48px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

.nav a{
	display: inline-block;
	padding-left: 76px;
	text-transform: uppercase;
	text-decoration: none;
	font: bold 12px 'opensans-bold';
	color: #f89513;
	transition: all 0.4s;
}

.nav a:hover{
	color: #221f1f;	
}

.nav .nav__afrodita{
	background: url('../images/afrodita/nav__afro_hover.png') 38px center no-repeat;
	color: #221f1f;	
}

.nav .nav__services{
	background: url('../images/afrodita/nav__services.png') 38px center no-repeat;
}

.nav .nav__services:hover{
	background: url('../images/afrodita/nav__services_hover.png') 38px center no-repeat;
}

.nav .nav__comments{
	background: url('../images/afrodita/nav__comments.png') 38px center no-repeat;
}

.nav .nav__comments:hover{
	background: url('../images/afrodita/nav__comments_hover.png') 38px center no-repeat;
}

/*========== main style ==========*/

