/*========== afrodita.css 2018_04_03 global style ==========*/

/*========== nav style ==========*/

.nav{
	margin-bottom: 48px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

.nav a{
	display: inline-block;
	padding-left: 76px;
	text-transform: uppercase;
	text-decoration: none;
	font: bold 12px 'opensans-bold';
	color: #f89513;
	transition: all 0.4s;
}

.nav a:hover{
	color: #221f1f;	
}

.nav .nav__afrodita{
	background: url('../images/afrodita/nav__afro_hover.png') 38px center no-repeat;
	color: #221f1f;	
}

.nav .nav__services{
	background: url('../images/afrodita/nav__services.png') 38px center no-repeat;
}

.nav .nav__services:hover{
	background: url('../images/afrodita/nav__services_hover.png') 38px center no-repeat;
}

.nav .nav__comments{
	background: url('../images/afrodita/nav__comments.png') 38px center no-repeat;
}

.nav .nav__comments:hover{
	background: url('../images/afrodita/nav__comments_hover.png') 38px center no-repeat;
}

/*========== main style ==========*/

.main{
	max-width: 880px;
	margin-left: auto;
	margin-bottom: 26px;
}

.main__h1{
	font: bold 48px/38px 'opensans-bold';
	color: #fff;
	text-transform: uppercase;
	background: url('../images/afrodita/main__top_bg.jpg') center center no-repeat;
	padding: 153px 66px;
	margin-bottom: 32px;
}

.main__info_part{
	max-width: 696px;
	margin-right: auto;
}

.main__infotxt{
	margin-bottom: 64px;
}

.main__infotxt .main__infotxt_par{
	line-height: 30px;
	margin-bottom: 12px; 
}

.main__infotxt .main__infotxt_par .main__par_black{
	font-weight: bold;
	font-family: 'opensans-bold';
}

.main__infotxt .main__infotxt_ul{
	margin-bottom: 12px;
	list-style-type: none;
}

.main__infotxt .main__infotxt_ul li:before{
	content: "";
	display: inline-block;	
	width: 3px;
	height: 3px;
	background-color: #221f1f;		
	margin: 0 26px 4px 16px;	
}

.main__infotxt .main__par_blackbg{
	padding: 16px 30px;
	background-color: #221f1f;
	color: #fff;
}

.main__infotxt .main__par_blackbg .main__par_white{
	font-weight: bold;
	font-family: 'opensans-bold';
}

/*========== main__partners style ==========*/

.main__partners_h2{
	font: bold 48px/38px 'opensans-bold';
	color: #221f1f;
	text-transform: uppercase;
	margin-bottom: 46px;
}

.main__partners_top, .main__partners_bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	margin-bottom: 46px;
}

.main__top_logo01{
	width: 165px;
	height: 65px;
	background: url('../images/afrodita/main__partners01.png') center center no-repeat;
}

.main__top_logo01:hover{	
	background: url('../images/afrodita/main__partners01_hover.png') center center no-repeat;
}

.main__top_logo02{
	width: 165px;
	height: 65px;
	background: url('../images/afrodita/main__partners02.png') center center no-repeat;
}

.main__top_logo02:hover{	
	background: url('../images/afrodita/main__partners02_hover.png') center center no-repeat;
}

.main__top_logo03{
	width: 165px;
	height: 65px;
	background: url('../images/afrodita/main__partners03.png') center center no-repeat;
}

.main__top_logo03:hover{	
	background: url('../images/afrodita/main__partners03_hover.png') center center no-repeat;
}


.main__top_logo04{
	width: 165px;
	height: 65px;
	background: url('../images/afrodita/main__partners04.png') center center no-repeat;
}

.main__top_logo04:hover{	
	background: url('../images/afrodita/main__partners04_hover.png') center center no-repeat;
}

.main__top_logo05{
	width: 165px;
	height: 65px;
	background: url('../images/afrodita/main__partners05.png') center center no-repeat;
}

.main__top_logo05:hover{	
	background: url('../images/afrodita/main__partners05_hover.png') center center no-repeat;
}

.main__top_logo06{
	width: 165px;
	height: 65px;
	background: url('../images/afrodita/main__partners06.png') center center no-repeat;
}

.main__top_logo06:hover{	
	background: url('../images/afrodita/main__partners06_hover.png') center center no-repeat;
}